.button {
  border: 3px solid black;
  border-radius: var(--radius-md);
  padding: var(--gap-xl) var(--gap-2xl);
  box-shadow:
    var(--shadow-elevate),
    inset 2px 2px 1px color-mix(in srgb, var(--c-graysky-100) 50%, transparent),
    inset -2px -2px 1px rgb(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: var(--f-size-md);
  font-weight: bold;
  background-image: linear-gradient(
    var(--c-graysky-500),
    var(--c-graysky-300) 30%,
    var(--c-graysky-600)
  );
  transition: box-shadow var(--anim-duration-xs) ease-in-out;
}

.button:active {
  box-shadow:
    var(--shadow-elevate),
    inset 0 0 40px rgb(0, 0, 0, 0.7),
    inset 0 0 6px 3px rgb(0, 0, 0, 0.5);
}