.circleTimerEdit {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stepsList {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);

  padding: var(--gap-md);
  padding-bottom: 6rem;
}

.legendHeader {
  display: flex;
  gap: var(--gap-md);
  padding: 0 var(--gap-md);
}

.workRestHeader {
  width: 89px; /* ~ Width of DurationInput small */
}

.repetitionsHeader {
  flex: 1;
  text-align: right;
}

.bottomFloading {
  position: fixed;
  bottom: 0;
}

.buttonsSection {
  display: flex;
  flex-direction: row;
  gap: var(--gap-sm);

  width: 100%;
  padding: var(--gap-md);
  box-sizing: border-box;

  background-color: var(--c-graysky-950);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
}

.saveButton {
  flex: 1;
}

.addButton {
  flex: 1;
}

.addSheetContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--gap-md);

  padding-bottom: 6rem;
}

.thumbwheelsSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.thumbwheelWorkRest {
  display: flex;
}
