.circleTimer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonsSection {
  display: flex;
  flex-direction: row;
  gap: var(--gap-sm);
}

.editButton {
  flex: 1;
}

.startStopButton {
  flex: 3;
}
