.pageLayout {
  width: 100%;
  height: 100%;
  min-height: 500px;
  box-sizing: border-box;
  padding: var(--gap-md);
  overflow: hidden;

  background: linear-gradient(
      color-mix(in srgb, var(--c-graysky-950) 50%, transparent),
      color-mix(in srgb, var(--c-graysky-950) 50%, transparent)
    )
    url("@assets/textures/stone_texture.jpg");
  background: linear-gradient(
      color-mix(in srgb, var(--c-graysky-950) 95%, transparent),
      color-mix(in srgb, var(--c-graysky-950) 95%, transparent)
    ),
    url("@assets/textures/stone_texture.jpg");
}
