.pageLayout {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  box-sizing: border-box;

  background: linear-gradient(
      color-mix(in srgb, var(--c-graysky-950) 50%, transparent),
      color-mix(in srgb, var(--c-graysky-950) 50%, transparent)
    )
    url("@assets/textures/stone_texture.jpg");
  background: linear-gradient(
      color-mix(in srgb, var(--c-graysky-950) 95%, transparent),
      color-mix(in srgb, var(--c-graysky-950) 95%, transparent)
    ),
    url("@assets/textures/stone_texture.jpg");
}
