.container {
  --c-glow-center: var(--c-teal-500);
  --c-glow-gradient-start: var(--c-teal-200);
  --c-glow-gradient-end: var(--c-teal-100);

  height: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.glowingTeal {
  --c-glow-center: var(--c-teal-500);
  --c-glow-gradient-start: var(--c-teal-200);
  --c-glow-gradient-end: var(--c-teal-100);
}

.glowingAutumn {
  --c-glow-center: var(--c-autumn-500);
  --c-glow-gradient-start: var(--c-autumn-200);
  --c-glow-gradient-end: var(--c-autumn-100);
}

.container > div:not(.glowingIndent, .spacer) {
  width: 100%;
  height: 0.35rem;
  background: linear-gradient(
    var(--c-graysky-200) 0%,
    var(--c-graysky-800) 20%,
    var(--c-graysky-900) 80%,
    var(--c-graysky-200) 100%
  );
}

.spacer {
  height: 0px;
  width: 0px;
}

.glowingIndent {
  width: 80%;
  height: 0.25rem;
  border-radius: var(--radius-full);
  background-color: var(--c-glow-center);
  box-shadow: 0 0 10px var(--c-glow-gradient-start),
    0 0 5px var(--c-glow-gradient-end);
}
