.metalSlant {
  padding: 2px;
  border-radius: 0.6rem;
}

.container {
  --c-background: var(--c-teal-950);
  --c-segment-faint: var(--c-teal-900);
  --c-segment-separator: var(--c-teal-600);
  --c-segment-active: var(--c-teal-300);
  /* --c-segment-glow: var(--c-teal-200); */

  --f-size: var(--f-size-2xl);
  --padding: var(--gap-md);
  --gap: var(--gap-sm);
  --radius: var(--radius-md);

  position: relative;
  font-family: var(--f-segment);
  font-size: var(--f-size);
  width: fit-content;
  padding: var(--padding) calc(var(--padding) * 3);
  background-color: var(--c-background);
  color: var(--c-segment-faint);
  border-radius: var(--radius);
  box-shadow:
    inset 4px 4px 4px rgba(0, 0, 0, 0.2),
    inset 0 0 1rem 2px rgba(0, 0, 0, 0.2);

  overflow: hidden;
}

.durationValue {
  font-family: inherit;
  font-size: inherit;
  background-color: unset;
  padding: inherit;
  border: unset;

  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
  box-sizing: border-box;

  color: var(--c-segment-active);
  text-align: right;

  text-shadow:
    0 0 0.15rem var(--c-glow-shadow-small),
    0 0 0.5rem var(--c-glow-shadow-big);
}

.glowingTeal {
  --c-background: var(--c-teal-950);
  --c-segment-faint: var(--c-teal-900);
  --c-segment-separator: var(--c-teal-600);
  --c-segment-active: var(--c-teal-300);
  --c-glow-shadow-small: var(--c-teal-600);
  --c-glow-shadow-big: var(--c-teal-400);
}
.glowingAutumn {
  --c-background: var(--c-autumn-950);
  --c-segment-faint: var(--c-autumn-900);
  --c-segment-separator: var(--c-autumn-600);
  --c-segment-active: var(--c-autumn-300);
  --c-segment-glow: var(--c-autumn-200);
  --c-glow-shadow-small: var(--c-autumn-600);
  --c-glow-shadow-big: var(--c-autumn-400);
}
.glowingGraySky {
  --c-background: var(--c-graysky-950);
  --c-segment-faint: var(--c-graysky-900);
  --c-segment-separator: var(--c-graysky-600);
  --c-segment-active: var(--c-graysky-300);
  --c-glow-shadow-small: var(--c-graysky-600);
  --c-glow-shadow-big: var(--c-graysky-400);
}

.variantBig {
  --f-size: var(--f-size-2xl);
  --padding: var(--gap-sm);
  --gap: var(--gap-sm);
  --radius: var(--radius-md);
}
.variantSmall {
  --f-size: var(--f-size-xl);
  --padding: var(--gap-sm);
  --gap: var(--gap-sm);
  --radius: var(--radius-sm);
}

.display {
  display: flex;
  justify-content: center;
  gap: var(--gap);

  user-select: none;
  pointer-events: none;
}

.doubleDigit {
  position: relative;
}

.digitSeparator {
  color: var(--c-segment-separator);
}
